<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container bg-1">
<nav th:replace="fragments :: header"></nav>

<form method="post">

    <div class="form-group">

        <label th:text="${dispText}"></label>

    </div>

    <div class="form-group">
        <input type="hidden" th:field="${userMovie.movie}">
        <input type="hidden" th:field="${userMovie.user}">

        <span th:if="${userMovie.review != null}">
            <textarea th:field="${userMovie.review.review_text}"  rows="10" cols="50" th:value="${oldReview.review_text}"></textarea>
            <p class="error" th:errors="${userMovie.review.review_text}"></p>
        </span>

        <span th:if="${userMovie.review == null}">
            <textarea th:field="${userMovie.review.review_text}"  rows="10" cols="50"></textarea>
            <p class="error" th:errors="${userMovie.review.review_text}"></p>
        </span>



    </div>

    <div class="form-group">
        <label>Rate: </label>

            <span th:if="${userMovie.review.star_rating != null}">
                <select th:field="${userMovie.review.star_rating}">
                    <option th:each="i : ${#numbers.sequence(1, 5)}" th:value="${i}" th:text="${i}"
                            th:selected="${userMovie.review.star_rating}"></option>
                </select>
            </span>

        <span th:if="${userMovie.review.star_rating == null}">
                <select th:field="${userMovie.review.star_rating}">
                    <option th:each="i : ${#numbers.sequence(1, 5)}" th:value="${i}" th:text="${i}"
                            th:selected="${userMovie.review.star_rating}"></option>
                </select>
            </span>



    </div>

    <input type="submit" class="btn btn-success" th:value="${buttonName}">

</form>

</body>
</html>