<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments :: head"></head>

<body class="container bg-1">
<nav th:replace="fragments :: header"></nav>

<h1>ACCOUNT SETTINGS</h1>
<br>
<ul>
    <li>
        <h3>My Email:
            <span th:text="${email}"></span>
            <span>
        <a href="settings/update-email">
            <button class="btn btn-success">Update Email</button>
        </a>
    </span>
        </h3>
        <br>
    </li>
    <li>
        <h3>Want to leave?
            <span>
            <a href="settings/delete-account"><button class="btn btn-danger">Delete My Account</button></a>
        </span>
        </h3>
        <br>
    </li>
</ul>
</body>
</html>