<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments :: head"></head>

<body class="container bg-1">
<nav th:replace="fragments :: header"></nav>

<form th:action="@{/settings/update-email}" method="post">
    <div class="container-content">
        <h1>Update Email</h1>
    </div>
    <br>
    <div class="form-group">
        <label>New Email
            <input class="form-control" th:field="${emailDTO.email}" type="email" />
        </label>
        <p class="error" th:errors="${emailDTO.email}"></p>
    </div>
    <input type="submit" class="btn btn-success" value="Update" />
</form>
</body>
</html>