<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments :: head"></head>

<body class="container bg-1">
<nav th:replace="fragments :: header"></nav>

<form th:action="@{/settings/change-theme}" method="post">
   <div class="container-content">
      <h1>Change Theme <span class="glyphicon glyphicon-adjust"></span></h1>
   </div>
   <br>
   <div>
      <label><input type="radio" name="mode" th:value="DARK" th:checked="${isDark}"/>
         Dark
      </label>
   </div>
   <div>
      <label><input type="radio" name="mode" th:value="LIGHT" th:checked="${isLight}"/>
         Light
      </label>
   </div>
   <div>
      <label><input type="radio" name="mode" th:value="ICE" th:checked="${isIce}"/>
         Ice
      </label>
   </div>
   <div>
      <label><input type="radio" name="mode" th:value="SLATE" th:checked="${isSlate}"/>
         Slate
      </label>
   </div>
   <br>
   <input type="submit" class="btn btn-success" value="Change" />
</form>
</body>
</html>