<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments :: head"></head>

<body class="container bg-1">
<nav th:replace="fragments :: header"></nav>

<h1 class="container-content">Change Password</h1>

<form th:action="@{/settings/change-password}" method="post">

    <div class="form-group">
        <label>Current Password
            <input class="form-control" type="password" th:field="${changePasswordDto.currentPassword}">
        </label>
        <p class="error" th:errors="${changePasswordDto.currentPassword}"></p>
    </div>
    <div class="form-group">
        <label>New Password
            <input class="form-control" type="password" th:field="${changePasswordDto.newPassword}">
        </label>
        <p class="error" th:errors="${changePasswordDto.newPassword}"></p>
    </div>
    <div class="form-group">
        <label>Verify New Password
            <input class="form-control" type="password" th:field="${changePasswordDto.verifyNewPassword}">
        </label>
        <p class="error" th:errors="${changePasswordDto.verifyNewPassword}"></p>
    </div>
    <input class="btn btn-success" type="submit" value="Update">
</form>

<h3 th:text="${greeting}"></h3>
</body>
</html>