<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>

<body class="container bg-1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav th:replace="fragments :: header"></nav>

<h2 th:text="${user.username.toUpperCase()}"></h2>

<br>
<div>
    <h3>Favorite Movies</h3>
    <ul th:each="favoriteMovie : ${user.favoriteMovies}">
        <li>
            <p th:text="${favoriteMovie.name}"></p>
        </li>
    </ul>
</div>
<br>
</div>
<h3>To Watch Movies</h3>
<ul th:each="toWatchMovie : ${user.toWatchMovies}">
    <li>
        <p th:text="${toWatchMovie.name}"></p>
    </li>
</ul>
</div>


<div>
    <h3>Recent Reviews</h3>

    <p th:if="${#lists.isEmpty(user.reviewsList)}">No movies reviewed yet</p>

    <table th:unless="${#lists.isEmpty(user.reviewsList)}" class="table table-borderless">

        <tr th:each="i : ${#numbers.sequence(user.reviewsList.size() - 1, 0, -1)}">


            <td style="width:15%"><img class="img-poster" th:src="${user.reviewsList[i].movie.poster}" alt="poster"></td>

            <td>
                <h3> <a th:href="@{'search/movie-view/' + ${user.reviewsList[i].movie.getApiID()}}" style="font-weight: bold;" th:text="${user.reviewsList[i].movie.getTitle()}"></a></h3>
                <span th:each="j:${#numbers.sequence(1, 5)}">
                        <span th:if="${user.reviewsList[i].star_rating >=j }"  class="fa fa-star star-checked"></span>
                        <span th:unless="${user.reviewsList[i].star_rating >=j }"  class="fa fa-star"></span>
                    </span>

                <p th:text="${user.reviewsList[i].review_text}"></p>

                <p th:unless="${selfProfile =='false'}">

<!--                <form th:unless="${selfProfile =='false'}" th:action="@{/delete_review(reviewId=${user.reviewsList[i].id})}" method="post">-->
<!--                    <button type="submit" class="btn btn-link" style="color:red;"-->
<!--                            th:data-confirm-delete="|Are you sure you want to delete review for: ${user.reviewsList[i].movie.name}?|"-->
<!--                            onclick="return confirm(this.getAttribute('data-confirm-delete'))"-->
<!--                    >Delete</button>-->
<!--                </form>-->

                <form th:unless="${selfProfile =='false'}" th:action="@{/delete_review(reviewId=${user.reviewsList[i].id})}" method="post">
                <button type="submit" class="btn btn-link" style="color:red;text-decoration:none"
                        th:data-confirm-delete="|Are you sure you want to delete review for: ${user.reviewsList[i].movie.name}?|"
                        onclick="return confirm(this.getAttribute('data-confirm-delete'))"
                >Delete</button>

                <a th:href="@{/review(movieId=${user.reviewsList[i].movie.id})}" style="color:green; text-decoration:none"
                         th:data-confirm-update="|Are you sure you want to update review for: ${user.reviewsList[i].movie.name}?|"
                         onclick="return confirm(this.getAttribute('data-confirm-update'))"
                >Update</a>

<!--                <button  type="submit" th:formaction="@{/review(movieId=${user.reviewsList[i].movie.id})}" method="get" class="btn btn-link" style="color:green;"-->
<!--                         th:data-confirm-update="|Are you sure you want to update review for: ${user.reviewsList[i].movie.name}?|"-->
<!--                         onclick="return confirm(this.getAttribute('data-confirm-update'))"-->
<!--                >Update</button>-->
            </form>

                </p>

            </td>
        </tr>


    </table>


</div>

</body>
<style>
    .star-checked {
      color: orange;
    }

    .hr-light { background-color: #404040; height: 1px; border: 0; }

    .img-poster {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100px;
}


</style>
</html>
