<!DOCTYPE html>
<<html xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="https://www.thymeleaf.org"
       xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments :: head"></head>

<body class="container bg-1">
<nav th:replace="fragments :: header"></nav>
<h1>Reset Password <span class="glyphicon glyphicon-lock"></span></h1>
<br>
<h3>Please provide your username below. We can send you a new password to the email on file</h3>
<br>
<form th:action="@{/reset-password}" method="post">
   <div class="form-group">
      <label>Username
         <input class="form-control" type="text" name="username">
      </label>
      <p th:if="${error}" class="error">No such user found</p>
   </div>
   <input type="submit" class="btn btn-success" value="Send" />
</form>
</body>
</html>