<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container bg-1">
<nav th:replace="fragments :: header"></nav>

<form method="post">
    <div class="container-content">
        <!--    May change this to "Update Info" and just have one Update link in settings-->
        <h1>Update Email</h1>
    </div>
    <br>
    <div class="form-group">
        <label>New Email
            <input class="form-control" th:field="${updateEmailDTO.email}" type="email" />
        </label>
        <p class="error" th:errors="${updateEmailDTO.email}"></p>
    </div>
    <input type="submit" class="btn btn-success" value="Update" />
</form>
</body>
</html>