
#navigation {
    margin-bottom: 100px;
}

.bar {
    box-shadow: 0 0 15px 1px rgb(0, 252, 248, 0.5);
}

.bg-1 {
    background-image: linear-gradient(rgb(45, 45, 48), rgb(26, 26, 28));
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: #bdbdbd;
  }

.dropdown-menu {
    background-color: rgb(36, 36, 35) !important;
}

.dropdown-toggle {
    background-color: rgb(255, 255, 255, 0) !important;
}