#navigation {
    margin-bottom: 100px;
}

.bar {
    box-shadow: 0 0 15px 1px;
}

.bg-1 {
    background-image: linear-gradient(rgb(240, 248, 255), rgb(210, 232, 252));
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: DodgerBlue;
  }

  .table-background {
      background: rgb(255, 255, 255, 0.5);
      border-radius: 5px;
  }

  .dropdown-menu {
      background-color: rgb(36, 36, 35) !important;
  }


