#navigation {
    margin-bottom: 100px;
}

.bar {
    box-shadow: 0 0 15px 1px;
    background: rgb(230, 254, 255, 0.3);
    backdrop-filter: blur(50px);
}

.bg-1 {
    background-image: linear-gradient(rgb(230, 254, 255), rgb(141, 175, 176));
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(20, 81, 84);
  }

ul.nav li a, ul.nav li a:visited {
    background: rgb(255, 255, 255, 0);
    color: rgb(20, 81, 84);
}

ul.nav li a:hover {
    background: rgb(255, 255, 255, 0);
    color: rgb(20, 81, 84);
    text-shadow: 0 0 1px Aquamarine;
}

ul li a {
    color: rgb(20, 81, 84);
}

ul li a:hover {
    color: rgb(20, 81, 84);
    text-shadow: 0 0 1px Aquamarine;
}

.table-background {
     background: rgb(255, 255, 255, 0.2);
     border-radius: 5px;
}

.dropdown-menu {
    background: rgb(230, 254, 255) !important;
}

.dropdown-toggle {
    background-color: rgb(255, 255, 255, 0) !important;
}


