#navigation {
    margin-bottom: 100px;
}

.bar {
    box-shadow: 0 0 15px 1px;
    background: rgb(240, 254, 240, 0.3);
    backdrop-filter: blur(50px);
}

.bg-1 {
    background: rgb(241, 254, 251);
    color: rgb(20, 84, 69);
  }

ul.nav li a, ul.nav li a:visited {
    background: rgb(255, 255, 255, 0);
    color: rgb(20, 84, 69);
}

ul.nav li a:hover {
    background: rgb(255, 255, 255, 0);
    color: rgb(20, 84, 69);
    text-shadow: 0 0 1px Aquamarine;
}



