#navigation {
    margin-bottom: 100px;
}

.bar {
    box-shadow: 0 0 15px 1px;
    background: rgb(230, 254, 255, 0.3);
    backdrop-filter: blur(50px);
}

.bg-1 {
    background: rgb(230, 254, 255);
    color: rgb(20, 81, 84);
  }

ul.nav li a, ul.nav li a:visited {
    background: rgb(255, 255, 255, 0);
    color: rgb(20, 81, 84);
}

ul.nav li a:hover {
    background: rgb(255, 255, 255, 0);
    color: rgb(20, 81, 84);
    text-shadow: 0 0 1px Aquamarine;
}

ul li a {
    color: rgb(20, 81, 84);
}

ul li a:hover {
    color: rgb(20, 81, 84);
    text-shadow: 0 0 1px Aquamarine;
}

#home {
    background-image: url("https://img.freepik.com/free-photo/cloud-sky-twilight-times_74190-4017.jpg?t=st=1736911787~exp=1736915387~hmac=fc3375e942546ea7497c5bc5b78ae52bf56e5898d84bb1c69d4053e9a5edc904&w=1800")
}



