<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container bg-1">
<nav th:replace="fragments :: header"></nav>


<h3>Movie </h3>
<div>
    <a th:href="@{'/search/movie-view/' + ${movie.getApiID()}}" th:text="${movie.name}"></a>
</div>
<br>
<div>
    <img width=25% th:src="${movie.poster}" alt="poster">
</div>

<div>
    <h2 th:if="${isFavorite}" th:text="${favorite}"></h2>
</div>

<form th:if="${!isFavorite}" th:action="@{/movies/add-favorite-movie}" method="post">
    <div class="form-group">
        <input type="hidden" th:field="${userMovieDTO.user}">
        <h3>Update Favorite Movies List</h3>
        <input type="checkbox" th:field="${userMovieDTO.movie}" th:value="${movie.id}">
        <label>Add To Favorite Movies List</label>
    </div>

    <input class="btn btn-success" type="submit" value="Submit">


</form>
</body>
</html>
