<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments :: head"></head>

<body class="container bg-1">
<nav th:replace="fragments :: header"></nav>

<div>
<h3>Movies
<!--    Add movie button will only show up if logged in-->
    <a sec:authorize="isAuthenticated()" href="/movies/create-movies" class="btn btn-success btn-sm">
    <span class="glyphicon glyphicon-plus"></span>
    </a>
</h3>

<ol>
    <li  th:each="movie : ${movies}">
        <a th:href="'/movies/movie-detail?movieId=' +${movie.id}" th:text="${movie.name}"></a>
    </li>
</ol>
</div>



</body>
</html>

