<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments :: head"></head>

<body class="container bg-1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav th:replace="fragments :: header"></nav>

<h1 class="container-content">Popular Movies</h1>
<br>

<div th:each="movie : ${movies}">
    <a th:href="@{'movie-view/' + ${movie.getApiID()}}" th:text="${movie.getTitle()}"></a>
    <th:block th:text="${movie.getYear}"></th:block>
</div>


<div>
    <h3>Latest Reviews</h3>

    <p th:if="${#lists.isEmpty(reviewsTopFour)}">No movies reviewed yet</p>

    <table th:unless="${#lists.isEmpty(reviewsTopFour)}" class="table table-borderless">

        <tr th:each="review : ${reviewsTopFour}">

            <td style="width:15%"><img class="img-poster" th:src="${review.movie.poster}" alt="poster"></td>

            <td>
                <h3> <a th:href="@{'search/movie-view/' + ${review.movie.getApiID()}}" style="font-weight: bold;" th:text="${review.movie.getTitle()}"></a></h3>
                <span th:each="i:${#numbers.sequence(1, 5)}">
                        <span th:if="${review.star_rating >=i }"  class="fa fa-star star-checked"></span>
                        <span th:unless="${review.star_rating >=i }"  class="fa fa-star"></span>
                    </span>
                <p style="font-weight: normal">Review by:  <a th:href="@{/searched_profile(userId=${review.user.id})}" style="font-weight: bold;" th:text="${review.user.username}"></a></p>
                <p th:text="${review.review_text}"></p>

                <!--                <hr class="hr-light"/>-->
            </td>
        </tr>
    </table>


</div>



</body>
</html>