<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container bg-1">
<nav th:replace="fragments :: header"></nav>



<h1 th:text ="${title}"></h1>
<h3 th:text ="${year}"></h3>
<h3 th:text ="${'Director: ' + director}"></h3>
<img th:src="${poster}" alt="poster">
<h3 th:text ="${plot}"></h3>

<hr />

<p>
  <a th:href="'/movies/add-favorite-movie?movieId=' + ${movie.id}"><h4>Add To Favorite Movies List</h4></a>
</p>



<p>
  <a th:href="'/movies/add-to-watch-movie?movieId=' + ${movie.id}"><h4>Add To To-Watch Movies List</h4></a>
</p>

<form>
  <label for="fname">Write a review here:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>