<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments :: head"></head>

<body class="container bg-1">
<nav th:replace="fragments :: header"></nav>

<div class="container body-content">
    <h1>Search for a Movie</h1>

    <form th:action="@{/search/results}" method = "post">

        <div class="form-group">
            <label>Keyword:
                <input class="form-control" type="text" name="searchTerm" id="searchTerm" />
            </label>
        </div>

        <input type="submit" value="Search" class="btn btn-success"/>
    </form>

    <hr />

    <div th:each="movie : ${movies}">
        <a th:href="@{'movie-view/' + ${movie.getApiID()}}" th:text="${movie.getTitle()}" ></a>
        <th:block th:text="${movie.getYear}"></th:block>
    </div>


    <h1 th:text="${error}"></h1>


    <hr />





</div>


</body>
</html>