<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
   <meta charset="UTF-8">
<!--   <meta name="viewport" content="width=device-width, initial-scale=1">-->

   <link th:href="${theme.cssPath}" rel="stylesheet" />
   <!--    Bootstrap dependencies-->
   <!--    &lt;!&ndash; Latest compiled and minified CSS &ndash;&gt;-->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

   <!-- jQuery library -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

   <!-- Latest compiled JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body class="container bg-1">
<div>
   <div id="navigation">
      <nav th:attr="class=${theme.navMode}">
         <div class="container-fluid">
            <div>
               <ul class="nav navbar-nav navbar-left">
                  <li><a href="/">HOME</a></li>
                  <li><a href="/profile">MY PROFILE</a></li>
                  <li id="test">
                        <a class="dropdown-toggle" href="#" role="button" id="settings-menu" data-toggle="dropdown">
                           <span class="glyphicon glyphicon-cog"></span>


                        <div class="dropdown-menu" aria-labelledby="settings-menu">
                           <a class="dropdown-item " href="/settings/change-theme">Customize Theme</a><br>
                           <a class="dropdown-item" href="/settings/update-email">Update Email</a><br>
                           <a class="dropdown-item" href="/settings/delete-account">Delete Account</a>
                        </div>
                        </a>
                  </li>
               </ul>

               <ul class="nav navbar-nav navbar-right">
                  <li><a href="/search"><span class="glyphicon glyphicon-search"></span></a></li>
               </ul>
            </div>
         </div>
      </nav>
   </div>
   <h1>Theme Test Page</h1>
   <div>
      <img src="./images/0db6ae940cf191dc1b0e005ec7e59548.jpg" alt="mockup">
      <img src="./images/0db6ae940cf191dc1b0e005ec7e59548.jpg" alt="mockup">
      <img src="./images/0db6ae940cf191dc1b0e005ec7e59548.jpg" alt="mockup">
   </div>

</div>


</body>
</html>